<h2>Это каталог на Twig</h2>
{% for item in catalog %}
        <a href="/?c=product&a=card&id={{ item.id }}">
            <h3>{{ item.name }}</h3></a>
        <p>Цена: {{ item.price }}</p>
{% endfor %}